.current {
    font-weight: 900;
    margin-top: 5%;  
  }
.intro {
    text-align: center;
    font-size: 140%;
    margin-top: 5%;
    margin-left: 100px;   
  }
.content {
    font-size: 100%;
    color: rgb(59, 9, 8);
}
.site-title::before {
	content: url("/assets/images/mstile-150x150.png");
  text-align: center;
  margin-left: 100px;
}