<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
        body {  
            background-image: url('assets/images/fire2.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: cover;
            background-size: 100% 100%;
          }    
    </style>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <center>
    <font size="10">
      <p style="margin-bottom: 10%">
      {% include navigation.html %}
    </pstyle>
  </font>  
</center>
    {{ content }}
  </body>
</html>